{% extends "layouts/base.html" %}
{% set active_page = "login" %}

{% block content %}
<style>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
</style>

<div class="form-signin text-center">
    <form action="" method="post" novalidate>
        <img class="mb-4" src="{{ url_for('static', filename='ico/safari-pinned-tab.svg') }}" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        {{ form.hidden_tag() }}

        <div class="form-floating">
            {{ form.email(class_='form-control', type='email', id='floatingInput', placeholder='name@example.com') }}
            <label for="floatingInput" class="form-label">Email address</label>

            {% for error in form.email.errors %}
                <p class="text-danger fw-light">[{{ error }}]</p>
                <script>
                    var element = document.getElementById('floatingInput');
                    element.className += " " + 'is-invalid';
                </script>
            {% endfor %}

        </div>

        <div class="form-floating">
            {{ form.password(class_='form-control', type='password', id='floatingPassword', placeholder='Password') }}
            <label for="floatingPassword" class="form-label">Password</label>

            {% for error in form.password.errors %}
                <p class="text-danger fw-light">[{{ error }}]</p>
                <script>
                var element = document.getElementById('floatingPassword');
                element.className += " " + 'is-invalid';
                </script>
            {% endfor %}

        </div>

        <p>{{ form.remember_me(class_='checkbox') }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class_='w-100 btn btn-lg btn-primary', type='submit') }}</p>
    </form>
    <p>New User? <a href="{{ url_for('auth.register') }}">Register Here</a></p>
    <p>
        <a href="{{ url_for('auth.reset_password_request') }}">Forgot your password?</a>
    </p>
    
</div>
{% endblock %}